.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "title" "info";
}

.title {
  grid-area: title;
}

.info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "stats";
  grid-area: info;
}

.stats {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "time" "place" "tags";
  grid-area: stats;
}

.time {
  grid-area: time;
}

.place {
  grid-area: place;
}

.tags {
  grid-area: tags;
}

.event-image {
  width: calc(50vw - 35px);
}
